.custom {
    color: white;
    font-weight: bold;
    font-style: oblique;
}

#container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#controller {
    margin: 5px;
    display:flex;
    align-items: center;
}

#counter {
    display:flex;
    align-items: center;
}

#infos {
    margin: 5px;
    width: 20ch;
}
